*{
  outline: none;
}

#loginText{
  font-family: monospace;
  color: white;
  margin-top: 15px;
  padding-left: 1415px;
  position: fixed;
}

#Header{
  font-family: fantasy;
  color: white;
  background-color: black;
  padding-top: 50px;
  text-align: center;
  font-size: 100px;
}

#body{
  background-color: black;
}

#roomName{
  color: black;
}

#testing{
  color: white;
  text-align: center;
}

#roomCreation{
  text-align: center;
  color: white;
}

#line{
  color: white;
  background: transparent;
  border: none;
  position: fixed;
  margin-left: 1480px;
  top: 15px;
  z-index: 2;
}

#account{
  color: white;
  transition: .5s;
  background: transparent;
  border: none;
  position: fixed;
  left: auto;
  right: 0;
  top: 12px;
}
#gameList{
  color: black;
}


#account:hover{
  color: black;
  transition: .5s;
}

#roomButton{
  color: black;
}



#signOut{
  right: 0;
  left: auto;
  position: fixed;
  top: 12px;
  display: none;
}

#signInError{
  display: none;
  color: white;
}
